@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lobster|Oleo+Script|Ubuntu&display=swap&subset=latin-ext');

html,
body {
    padding: 0;
    margin: 0 auto;
    background: black;
    width: 100%;
}

div {
    text-align: center;
}

nav {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;

    a {
        text-decoration: none;
        color: white;
        font-family: "Lobster", cursive;
        text-shadow: black 3px 3px 3px;
        font-size: 36pt;
        transition: .25s;
        transition-property: color;

        &:hover {
            color: #6f6f6f;
        }
    }
}

#hero {
    img {
        width: 100%;
        height: 100vh;
        position: relative;
        z-index: 0;
    }
    p {
        font-size: 108pt;
        color: white;
        font-family: "Lobster", cursive;
        position: absolute;
        padding-bottom: 10px;
        left: 0;
        top: 50%;
        transform: translateY(-75%);
        z-index: 1;
        text-shadow: black 6px 6px 5px;
        user-select: none;
        background: rgba(0, 0, 0, 0.4);
    }
}

.panel {
    width: 100%;
    height: 50vh;
    position: absolute;
    box-sizing: border-box;
    padding-top: 5%;
    padding-bottom: 5%;
    background: black;
    z-index: 2;
    box-shadow: black 0 10px 20px 20px, black 0px -10px 20px 20px;
}

.images {
    width: 100%;
    object-fit: contain;
    position: relative;
    z-index: 0;
    margin-top: 15%;
}


h1 {
    margin: 0;
    display: inline-block;
    color: #e3aa5e;
    font-size: 68pt;
    font-family: "Oleo Script", cursive;
    text-align: center;
}

p {
    font-family: "Lobster", sans-serif;
    font-size: 1.5vw;
    color: white;
}

.front_butts {
    display: inline-block;
    margin-top: 2%;
    padding: 24px 32px;
    background: white;
    border: none;
    border-radius: 5px;
    font-family: "Oleo Script", cursive;
    text-decoration: none;
    font-size: 24pt;
    color: #363535;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    transition-property: color, background-color;

    &:hover {
        background-color: black;
        color: white;
    }
}

footer {
    position: relative;
    p{
        color: white;
        font-family: "Lobster", cursive;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
