@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lobster|Oleo+Script|Ubuntu&display=swap&subset=latin-ext');
@import "burger";

$font-desktop: 10em;
$font-mobile: 3.5em;

html,
body {
    background: black;
    width: 100%;
    text-align: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#welcome {
    #hero {
        background-image: url("img/img6.jpg");
    }

    img {
        max-width: 100%;
        object-fit: contain;
        position: relative;
        z-index: 0;
    }
}

#team {
    #hero {
        background-image: url("img/img10.jpg");
    }
}

#map {
    #hero {
        background-image: url("img/img11.jpg");
    }
}

#rank {
    #hero {
        background-image: url("img/img9.jpg");
    }
}

#hero {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    p {
        font-size: $font-desktop;
        color: white;
        font-family: "Lobster", cursive;
        z-index: 1;
        width: 100%;
        text-shadow: black 6px 6px 5px;
        user-select: none;
        background: rgba(0, 0, 0, 0.4);
        @media (max-width: 1000px) {
            font-size: $font-mobile;
        }
    }
}

.panel {
    width: 100%;
    padding: 5% 0;
    background: black;
    z-index: 5;
    box-shadow: 10px 10px 20px 20px black;
    position: relative;
    p {
        margin: {
            top: 35px;
            left: auto;
            right: auto;
        }
        max-width: 80vw;
    }
}


h1 {
    margin: 0;
    display: inline-block;
    color: #e3aa5e;
    font-size: $font-desktop;
    @media (max-width: 1000px) {
        font-size: $font-mobile;
    }
    font-family: "Oleo Script", cursive;
    text-align: center;
}

p {
    font-family: "Lobster", sans-serif;
    font-size: 2em;
    @media (max-width: 1000px) {
        font-size: 1.3em;
    }
    color: white;
}

.front_butts {
    display: inline-block;
    margin-top: 2%;
    padding: 24px 32px;
    background: white;
    border: none;
    border-radius: 5px;
    font-family: "Oleo Script", cursive;
    text-decoration: none;
    font-size: 24pt;
    color: #363535;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    transition-property: color, background-color;

    &:hover {
        background-color: black;
        color: white;
    }
}

footer {
    position: relative;
    z-index: 10;
    margin: 15px 0;
    p {
        color: white;
        font-family: "Lobster", cursive;
    }
}

.flexbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    div {
        background: black;
        margin: 25px 20px 0 20px;

        img {
            width: 300px;
            height: 400px;
            margin: 20px 0 0 0;
            box-sizing: border-box;
            border-radius: 5%;
        }

        h2 {
            color: white;
            font-family: 'Lobster', cursive;
            font-size: 30pt;
            margin: 0 auto;
        }
    }
}

#map {
    iframe {
        width: 80vw;
        min-height: 85vh;
        border: double white 10px;
        margin-top: 10px;
    }
}

#rank {
    table {
        display: block;
        white-space: nowrap;
        margin:{
            left: auto;
            right: auto;
        }
        font-family: Ubuntu, sans-serif;
        border-collapse: collapse;
        max-width: 90vw;
        user-select: none;
        overflow-x: auto;
    }

    td, th {
        border: none;
        padding: 10px;
        text-align: center;
        width: 200px;
    }

    tr:first-of-type {
        pointer-events: none;
    }

    tr {
        background: white;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    tr {
        transition: 0.35s;
        transition-property: color, background-color;

        &:first-of-type {
            pointer-events: none;
        }

        &:nth-child(even) {
            background-color: #dddddd;
        }

        &:hover {
            cursor: pointer;
            background: rgb(30, 30, 30);
            color: white;
        }

        background: white;
    }
}

