$timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);

.preloader {
    position: fixed;
    background: #d62956;
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
        width: 15px;
        height: 25px;
        background: white;
        display: inline;
        margin: 3px;
    }

    div:nth-of-type(1) {
        animation: loading infinite 1.25s ease-in-out;
    }

    div:nth-of-type(2) {
        animation: loading infinite 1.25s ease-in-out;
        animation-delay: .25s;
    }

    div:nth-of-type(3) {
        animation: loading infinite 1.25s ease-in-out;
        animation-delay: .50s;
    }

}

@keyframes loading {
    0%, 100% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(2);
    }
}

.slide-out {
    will-change: transform;
    transform: skewX(15deg) translateX(-200%);
    transition: transform .5s ease-in-out;
}

.visible {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.hidden {
    visibility: hidden;
    display: none;
}
