@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Lobster|Oleo+Script|Ubuntu&display=swap&subset=latin-ext);input {
  position: fixed;
  opacity: 0;
}

label {
  position: absolute;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

label::before {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(18, 67, 100, 0.6);
  content: "";
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

label .burger {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 1003;
  width: 2em;
  height: 2em;
  margin: 0;
  padding: 0;
  -webkit-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

label .burger::before,
label .burger .bar,
label .burger::after {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 12%;
  background: white;
  content: "";
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

label .burger .bar {
  top: 44%;
}

label .burger::before {
  top: 0;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

label .burger::after {
  bottom: 0;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

input:focus + label .burger,
label:hover .burger {
  opacity: 0.75;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1002;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  /* material acceleration */
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  will-change: transform;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

nav::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 25em;
  background: #d62956;
  content: "";
  -webkit-transform: skewX(15deg) translateX(-100%);
          transform: skewX(15deg) translateX(-100%);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  will-change: transform;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (min-width: 40em) {
  nav::before {
    width: 40em;
  }
}

nav a {
  text-align: left;
  margin: 0.5em 0;
  padding: 0.2em 2em;
  font-size: 2.5em;
  font-family: "Lobster", cursive;
  color: white;
  text-decoration: none;
  font-weight: 500;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: color 0.15s, -webkit-transform 0.5s;
  transition: color 0.15s, -webkit-transform 0.5s;
  transition: color 0.15s, transform 0.5s;
  transition: color 0.15s, transform 0.5s, -webkit-transform 0.5s;
}

nav a:nth-child(1) {
  -webkit-transition-delay: 0s, 100ms;
          transition-delay: 0s, 100ms;
}

nav a:nth-child(2) {
  -webkit-transition-delay: 0s, 150ms;
          transition-delay: 0s, 150ms;
}

nav a:nth-child(3) {
  -webkit-transition-delay: 0s, 200ms;
          transition-delay: 0s, 200ms;
}

nav a:nth-child(4) {
  -webkit-transition-delay: 0s, 250ms;
          transition-delay: 0s, 250ms;
}

nav a:hover,
nav a:focus {
  color: black;
}

[id=navcheck]:checked + label::before {
  opacity: 1;
  pointer-events: auto;
}

[id=navcheck]:checked + label .burger::before,
[id=navcheck]:checked + label .burger::after {
  width: 141.42%;
}

[id=navcheck]:checked + label .burger::before {
  -webkit-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
}

[id=navcheck]:checked + label .burger::after {
  -webkit-transform: rotate(-45deg) translateY(50%);
          transform: rotate(-45deg) translateY(50%);
}

[id=navcheck]:checked + label .burger .bar {
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
}

[id=navcheck]:checked ~ nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

[id=navcheck]:checked ~ nav::before {
  -webkit-transform: skewX(15deg) translateX(0);
          transform: skewX(15deg) translateX(0);
}

[id=navcheck]:checked ~ nav a {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

/* helper */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

html,
body {
  background: black;
  width: 100%;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#welcome #hero {
  background-image: url(/images/img6.jpg?f882691a1e2477c06b2340763c85f390);
}

#welcome img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  z-index: 0;
}

#team #hero {
  background-image: url(/images/img10.jpg?2ea24a9f94fd67d5763a1b4bdc9f4e3e);
}

#map #hero {
  background-image: url(/images/img11.jpg?6573f99eb777d5e41b7825ee5117d70e);
}

#rank #hero {
  background-image: url(/images/img9.jpg?91c384dfa40665bf95422242bca221ca);
}

#hero {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

#hero p {
  font-size: 10em;
  color: white;
  font-family: "Lobster", cursive;
  z-index: 1;
  width: 100%;
  text-shadow: black 6px 6px 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: rgba(0, 0, 0, 0.4);
}

@media (max-width: 1000px) {
  #hero p {
    font-size: 3.5em;
  }
}

.panel {
  width: 100%;
  padding: 50px 0;
  background: black;
  z-index: 5;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px 40px black;
  position: relative;
}

.panel p {
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  max-width: 80vw;
}

h1 {
  margin: 0;
  display: inline-block;
  color: #e3aa5e;
  font-size: 10em;
  font-family: "Oleo Script", cursive;
  text-align: center;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 3.5em;
  }
}

p {
  font-family: "Lobster", sans-serif;
  font-size: 2em;
  color: white;
}

@media (max-width: 1000px) {
  p {
    font-size: 1.3em;
  }
}

.front_butts {
  display: inline-block;
  margin-top: 2%;
  padding: 24px 32px;
  background: white;
  border: none;
  border-radius: 5px;
  font-family: "Oleo Script", cursive;
  text-decoration: none;
  font-size: 24pt;
  color: #363535;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.front_butts:hover {
  background-color: black;
  color: white;
}

footer {
  position: relative;
  z-index: 10;
  margin: 15px 0;
}

footer p {
  color: white;
  font-family: "Lobster", cursive;
}

.flexbox {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: wrap;
}

.flexbox div {
  background: black;
  margin: 25px 20px 0 20px;
}

.flexbox div img {
  width: 300px;
  height: 400px;
  margin: 20px 0 0 0;
  box-sizing: border-box;
  border-radius: 5%;
}

.flexbox div h2 {
  color: white;
  font-family: "Lobster", cursive;
  font-size: 30pt;
  margin: 0 auto;
}

#map iframe {
  width: 80vw;
  min-height: 85vh;
  border: double white 10px;
  margin-top: 10px;
}

#rank .panel div {
  max-width: 90vw;
  overflow-x: auto;
  margin-left: auto;
  margin-right: auto;
}

#rank table {
  font-family: Ubuntu, sans-serif;
  border-collapse: collapse;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0 auto;
}

#rank td,
#rank th {
  border: none;
  padding: 10px;
  text-align: center;
  width: 200px;
}

#rank tr:first-of-type {
  pointer-events: none;
}

#rank tr:nth-child(even) {
  background-color: #dddddd;
}

#rank tr {
  background: white;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

#rank tr:first-of-type {
  pointer-events: none;
}

#rank tr:nth-child(even) {
  background-color: #dddddd;
}

#rank tr:hover {
  cursor: pointer;
  background: #1e1e1e;
  color: white;
}

